.search__text {
  width: 245px;
  height: 50px;
  border: 1px solid #FAFAFA;
  border-radius: 3px;
  font-size: 16px;
  text-indent: 40px;
  background: url('../../assets/search.svg') no-repeat 10px 17px white;
  box-shadow: 0px 5.5px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}
