.hint {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.message {
  margin: 8px;
  color: #000000de;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.sub-title {
  font-size: 18px;
}
