.search {
  min-width: 370px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.search__area {
  padding: 16px;
  background-color: #4286f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__well-area {
  padding: 16px;
  display: flex;
  flex: 1;
}
